@charset "utf-8";

/* COMMON ---- S */
.pc_con {
    display: none;
}
.t_con {
    display: none;
}
.m_con {
    display: block;
}
.center {
    width: initial;
}
.btn_top {
    display: none !important;
}
/* COMMON ---- E */

/* HEADER ---- S */
#bigissue_hd {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 63px;
    margin: 0;
    padding: 12px 10px;
}
.logo {
    width: 63px;
    height: 40px;
    margin: 0;
}
.logo > a {
    width: 100%;
    height: 100%;
}
.m_btn_gnb {
    position: absolute;
    top: 23px;
    right: 10px;
    z-index: 9999;
    width: 25px;
    height: 23px;
    border-style: none;
    background: url("../img/btn_gnb.svg") no-repeat;
    background-size: cover;
    text-indent: -9999px;
    transition: 0.2s;
}
.m_btn_gnb.off {
    background: url("../img/btn_gnb_exit.svg") no-repeat;
    background-size: cover;
}
#bigissue_m_gnb {
    position: fixed;
    z-index: 9990;
    top: 0;
    right: -70%;
    width: 60%;
    height: 100%;
    padding-top: 100px;
    background: #fff;
    transition: 0.6s;
}
#bigissue_m_gnb.active {
    right: 0;
}
.bg_gnb.active {
    position: fixed;
    z-index: 9980;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    transition: 0.4s;
}
#bigissue_m_gnb {
    position: fixed;
    z-index: 9990;
    top: 0;
    right: -70%;
    width: 60%;
    height: 100%;
    padding-top: 100px;
    background: #fff;
    transition: 0.6s;
}
#bigissue_m_gnb.active {
    right: 0;
}
.bg_gnb.active {
    position: fixed;
    z-index: 9980;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    transition: 0.4s;
}
.m_depth1 {
    display: block;
    padding-right: 10px;
    padding-left: 20px;
    border-bottom: 2px solid #f4f4f4;
    line-height: 40px;
    font-size: 1.5rem;
    font-weight: 600;
    background: url("../img/btn_gnb_more.svg") no-repeat right center;
    background-origin: content-box;
    background-size: 17px 17px;
}
.m_depth1.off {
    background: url("../img/btn_gnb_closed.svg") no-repeat right center;
    background-origin: content-box;
    background-size: 17px 17px;
}
.m_depth2 {
    display: none;
    border-bottom: 1px solid #b2b2b2;
    font-size: 1.3rem;
    line-height: 35px;
    background: #f4f4f4;
}
.m_depth2 > li {
    border-bottom: 1px solid #e4e4e4;
    padding-left: 35px;
}
.login {
    float: none;
    position: absolute;
    top: 23px;
    right: 55px;
    width: 25px;
    height: 24px;
    background: url("../img/btn_user.svg") no-repeat;
    background-size: cover;
}
/* HEADER ---- E */

/* START LNB WRAP ---- S */
#start_lnb_wrap {
    height: 150px;
    margin: 63px 0 0;
    background: url("../img/bg_start_lnb.png") no-repeat center center;
    background-size: cover;
}
#lnb_visual > h2 {
    font-size: 2.4rem;
}
#lnb_wrap {
    height: 80px;
    border: none;
}
.lnb > li {
    width: 50%;
    line-height: 40px;
}
.lnb > li > a {
    font-size: 1.5rem;
}
.location {
    display: none;
}
/* START LNB WRAP ---- E */

/* M START ABOUT ---- S */
#start_content1_wrap {
    height: 150vw;
    background: #fff;
    margin-top: 100px;
}
.start_about_video {
    z-index: 1;
    top: 25vw;
    left: 50%;
    width: 90vw;
    height: 45vw;
    transform: translateX(-50%);
}
.start_about_video > iframe {
    position: static;
}
.start_about_video > div {
    display: none;
}
.start_about_number {
    height: 140vw;
}
.start_about_number_top {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20vw;
}
.start_about_number_bottom {
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
    font-size: 20vw;
}
#start_about_txt {
    top: 70vw;
    left: 0;
    margin: 0 10px;
    text-align: center;
}
#start_about_txt > h3 {
    margin: 20px 0;
    font-size: 5vw;
    font-weight: bold;
    line-height: 25px;
}
#start_about_txt > p {
    font-size: 4vw;
    line-height: 5.5vw;
}
#start_about_txt > p > span {
    display: none;
}
/* M START ABOUT ---- E */

/* M START WAY ---- S */
#start_content2_wrap {
    height: 400px;
    padding-top: 0;
}
#start_content2 {
    height: 100%;
}
.start_way_txt {
    float: none;
    top: 50%;
    left: 50%;
    width: 95%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
}
.start_way_txt > h2 {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 2.4rem;
}
#start_content2_visual {
    float: none;
    display: none;
}
.start_way > div {
    width: 30%;
    margin: 0 5px;
    padding-top: 80px;
}
.start_way > div:nth-of-type(1),
.start_way > div:nth-of-type(2),
.start_way > div:nth-of-type(3) {
    background-size: 50px;
}
.start_way > div:nth-of-type(2):after,
.start_way > div:nth-of-type(3):after {
    bottom: 190px;
    margin-left: -10px;
}
.start_way > div > p {
    font-size: 14px;
    line-height: 20px;
}
#btn_start_content2 {
    float: none;
    width: 140px;
    margin: 30px 0 0;
    font-size: 1.7rem;
}
.btn_design_aslant > a > span {
    width: 140px;
}
/* M START WAY ---- E */

/* M START BENEFIT ---- S */
#start_content3_wrap {
    top: 0;
    height: 650px;
    margin: 0 10px;
}
#start_content3_txt {
    display: inline-block;
    width: 100%;
    top: 40px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
}
#start_content3_txt > h2 {
    font-size: 2.4rem;
}
#start_content3_txt > p {
    font-size: 1.5rem;
}
#start_content3_visual {
    padding-top: 300px;
    padding-bottom: 50px;
    justify-content: center;
}
#start_content3_visual > div {
    width: 40vw;
    height: 40vw;
}
#start_content3_visual > div:nth-of-type(1),
#start_content3_visual > div:nth-of-type(4) {
    display: none;
}
#btn_benefit {
    padding-top: 20px;
}
#btn_benefit > a {
    width: 46%;
    height: 50px;
    margin: 0 2%;
}
#btn_benefit > a:nth-of-type(2) {
    float: right;
    margin: 0 2%;
}
#btn_benefit > a:before {
    height: 50px;
}
#btn_benefit > a > span {
    width: 100%;
    height: 50px;
    font-size: 1.7rem;
    line-height: 50px;
}
.start_benefit_txt > strong {
    margin-top: 30%;
    font-size: 1.7em;
}
.start_benefit_txt > span {
    font-size: 1.3rem;
    line-height: 20px;
}
/* M START BENEFIT ---- E */

/* FOOTER ---- S */
#bigissue_ft_wrap {
    height: 590px;
}
#bigissue_ft {
    margin: 0 10px;
    padding: 30px 0;
    text-align: center;
}
#bigissue_ft > address {
    margin-bottom: 20%;
    font-size: 2.2rem;
}
#bigissue_ft > address > a {
    color: #fff;
}
.info {
    display: block;
    width: 100%;
}
.sns_wrap {
    display: block;
    width: 100%;
    margin: 20px 0;
}
.sns_wrap > a {
    position: static;
    display: inline-block;
    float: none;
}
.sitemap_wrap {
    position: static;
    display: block;
    width: 100%;
}
.sitebox_wrap {
    position: static;
    text-align: center;
    margin: 30px 0;
}
.sitebox_wrap > a {
    display: inline-block;
    float: none;
    width: 120px;
    font-size: 1.6rem;
    line-height: 40px;
}
.copy {
    margin-top: 30px;
    font-size: 1.4rem;
    line-height: 20px;
    font-weight: bold;
}
/* FOOTER ---- E */
